*.egg*
*.mo
*.pot
*.pyc
*.sw?
*.sqlite3
*.lock
__pycache__
.environment_version
.coverage*
.noseids
.DS_STORE
.DS_Store
/cover
coverage.xml
coverage-karma
nosetests.xml
*nose_results.html
releasenotes/build
doc/build/
.tox
build
dist
dump
AUTHORS
ChangeLog
tags
.idea
